/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 20px;
  font-family:'Open-sans', sans-serif;
  margin-bottom: 0;
}

.red {
  color: red;
}

/*NAVBAR*/

ul.nav:nth-child(2) > li > a , ul.nav:nth-child(3) > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white !important;
}

.navbar.navbar-default {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.navbar-default {
  background-color: rgba(255,255,255,0.15);
  color: white;

}

.navbar-default .container-fluid {
  width: 85%;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
    font-weight: bold;
    !important;
}

.navbar-brand {
  padding-top: 0;
}

/*JUMBOTRON*/

.container {
  width: 85%;
}

.jumbotron .container {
  height:600px;
}

.jumbotron {
  height: 600px;
  background: url('../img/splash1.jpg') no-repeat center center;
  background-size: cover;
  padding-top: 0px;
  padding-bottom:9%;
  margin-top: -50px;
  margin-bottom: 0;
}


#jumbotext {
  color:white;
  margin-top: 300px;
}

#jumbotext h1 {
  font-size: 60px;
}

#jumbotext p {
  font-size: 30px;
}

/*brand tiles */
#brand-row{
align-items: flex-end;
height: auto;
margin-top: -8%;
margin-bottom: 30px;
}

#brand-row img {
  width: 100%;
  height: 100%;
}

.b {
  padding: 0;
}

/*PITCH*/
#pitch {
  height: auto;
  background-color: #cfcfcf;
}

#pitch-text {
  margin: 30px 0px;

}

/*FOOTER */
#main-footer {
  background: #353b3f;
  color: white;
  padding-top: 10px;
}

#main-footer h2 {
  margin-top: 0;
}



#main-footer h4 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

#main-footer-row{
    height: inherit;
}

.icon-mid {
  margin-right: 6px;
}


.footer-span  {
  display:inline-block;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  padding: 5px;
}

#footer-span-text-mid {
  border-top: 2px grey solid;
  border-bottom: 2px grey solid;
}

.footer-span-text * {
  margin: 4px 0px;
}

.two-high {
  height: inherit;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form-col {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  padding: 5px;
}
#get-in-touch {
  border-bottom: 2px grey solid;
  padding-bottom: 5px;
}

.form-div {
  margin-top:10px;
}
.form-div textarea, .form-div input {
  width:100%;
  background: #5d646b;
  border: none;
  margin:2px;
  padding: 3px;
}

.form-div textarea::placeholder, .form-div input::placeholder {
  color:white;
}

#footer-bottom {
  margin-top:20px;
  padding: 20px 5px;
  border-top: #c0c0c0 2px solid;
}
